# Data Structure

1. What are data structures, and why are they important?

  - Data structures are ways of organizing and storing data efficiently. They help in processing, retrieving, and storing data effectively, crucial for writing optimized code.

2. Explain the difference between mutable and immutable data types with
   examples.

  - Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable types cannot (e.g., strings, tuples). Example: my_list = [1, 2] is mutable, my_tuple = (1, 2) is immutable.

3. What are the main differences between lists and tuples in Python?

  - Lists are mutable and allow changes, while tuples are immutable and faster for iteration. Lists use square brackets [], tuples use parentheses ().

4. Describe how dictionaries store data.

  - Dictionaries store data in key-value pairs using a hash table, allowing quick access via keys.
5. Why might you use a set instead of a list in Python?

  - Sets remove duplicate elements and offer fast membership testing, making them useful when uniqueness is required.

6. What is a string in Python, and how is it different from a list?

  - A string is an immutable sequence of characters. Unlike lists, strings cannot be modified in-place.

7. How do tuples ensure data integrity in Python?

  - Tuples are immutable, preventing accidental data changes. This ensures data integrity in programs.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table stores key-value pairs and allows fast access using keys. Python dictionaries are built on hash tables.

9.  Can lists contain different data types in Python?

  - Yes, Python lists can contain different data types like ['apple', 10, True].

10. Explain why strings are immutable in Python.

  - Strings are immutable to ensure consistency, optimize memory, and allow safe sharing among variables.

11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries allow fast key-based access and better organization for large datasets compared to index-based lists.

12. Describe a scenario where using a tuple would be preferable over a list.

  - Tuples are preferable when data shouldn't change, like storing constants or keys in dictionaries.

13. How do sets handle duplicate values in Python?

  - Sets automatically eliminate duplicate entries, ensuring all values are unique.

14. How does the “in” keyword work differently for lists and dictionaries?

  - in checks membership. In lists, it checks values; in dictionaries, it checks keys.

15. Can you modify the elements of a tuple? Explain why or why not.

  - No, tuple elements cannot be changed after creation due to immutability.

16. What is a nested dictionary, and give an example of its use case.

  - A nested dictionary contains another dictionary. Example: {'student': {'name': 'Ali', 'age': 21}}.

17. Describe the time complexity of accessing elements in a dictionary.

  - Accessing dictionary elements is O(1) on average due to hashing.

18. In what situations are lists preferred over dictionaries?

  - Lists are better when order matters and elements need to be accessed by position.

19. Why are dictionaries considered unordered, and how does that affect data
    retrieval?

  - Dictionaries are unordered collections (before Python 3.7), so data isn't retrieved in insertion order.

20. Explain the difference between a list and a dictionary in terms of data
    retrieval.

  - Lists use index-based retrieval; dictionaries use key-based retrieval for faster access.

# Practical Questions

In [1]:
#Write a code to create a string with your name and print it.
name = " Soumya "
print(name)

 Soumya

In [ ]:
# Write a code to find the length of the string "Hello World"

string = "Hello World"
length = len(string)
print(length)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#  Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [ ]:
#. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "John", "age": 30, "city": "New York"}
print(d)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 7, 'b': 8}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [ ]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[58, 69, 71, 74, 85]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.lst = ['apple', 'banana', 'cherry', 'date']
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[3])

date

In [ ]:
#Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1}
d2 = {'b': 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [ ]:
#Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Original list:", string_list)
print("Converted set:", string_set)

Original list: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted set: {'apple', 'cherry', 'banana'}